@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  transition: .5s;
}
.header-sticky {
  transition: .5s;
  background-color: white;
  padding-block: 1rem;
}